body {
    margin: 0;
    background: #10120f;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.right {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    height: 50px;
}

.left {
    float: left;
    display: flex;
    margin-left: 1em;


}

header {
    border-bottom: 4px solid #382513;

}

#nav-title {
    color: #c85914;
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    margin: 10px 5px;

}


.nav-ul li {
    display: inline;
    margin-right: 0.2em;
}

li.active {
    color: #c85914;
    font-weight: bold;

}

li {
    color: white;
    cursor: pointer;
    font-family: 'Monserrat', sans-serif;

}

li:hover {

    color: #c85914;

}

li.active:hover {

    color: white;

}


#title {
    color: white;
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    margin-left: 5%;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 3%;
}

.card {
    background: #1a1c19;
    max-width: min-content;
    margin-top: 10px;
}

.card-seperate {
    height: 2px;
    background: #382513;
    margin: 10px;
}

.card-desc {
    color: white;
    font-family: 'Monserrat', sans-serif;
    margin-left: 10px;
    width: 280px;
    padding: 0 10px;
}

.more {
    color: #e0521b;
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    margin-top: 3%;
    margin-left: 3%;
    padding-bottom: 10px;
}

.more:hover {
    color: white;
    cursor: pointer;
}


.nav-dropdown {
    display: none;
    background: #10120f;
    color: white;
    padding: 8px;
    border: 1px solid #c85914;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: auto;
}

.card-title {
    margin-left: 10px;
    font-family: 'Monserrat', sans-serif;
    font-weight: 900;
    color: #e0521b;


}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Montserrat';
    margin-top: 5%;
    border-top: 4px solid #382513;
    border-bottom: 4px solid #382513;
}

.footer li {
}


.sign {
    display: flex;
}

.footer-left {
    margin-top: 20px;
    margin-left: 20px;
}

#footer-title {
    color: #c85914;
    margin-left: 10px;
    font-weight: 900;
    font-family: 'Montserrat';
}

p {
    color: white;
}

.footer-list-title {
    font-weight: bold;
}


@media screen and (max-width: 1200px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media screen and (max-width: 1024px) {


    .cards {
        grid-template-columns: repeat(2, 1fr);
    }


    .card {
        margin: 5% auto auto;
    }
}

@media screen and (max-width: 768px) {

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-ul {
        display: none;
    }

    .nav-dropdown {
        display: block;
        font-family: 'Montserrat';
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-left{
        margin: 0;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        font-size: 1rem;
    }

    .left {
        margin-top: 10px;
    }

    #nav-title {
        font-size: 1.4vh;
    }
}





