.services {
  background: white;
  padding: 60px 0;
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

.cut-bar {
  width: 5vh;
  height: 0.2vh;
  background: #000;
  border-radius: 20px;
  margin: 4vh auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  color: #9d9a9a;
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}

.service-card {
  background: #fff;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 280px;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card img {
  width: 50px;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 16px;
  color: #9d9a9a;
}


.btn-primary {
  background: #fff;
  color: #448ef4;
  padding: 15px 35px 15px 35px;
  font-size: 16px;
  font-weight: bold;
  border: #448ef4 solid 1px;
  cursor: pointer;
  border-radius: 20px;
  transition: background 0.3s;
}

.btn-primary:hover {
  color: white;
  background: #448ef4;
}

@media (max-width: 1080px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}



